html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  
  overflow: hidden;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hidden {
  display: none;
}

.bgs {
  overflow: hidden;
}

.bg1 {
  position: absolute;
  top: -300px;
  right: 50%;
  z-index: -1;
    
  height: 600px;
  width: 600px;
  border-radius: 0px 0px 100px 0px;
  background-image: linear-gradient(#000 40%, #26373D);
  
  transform: rotate(10deg);
}

.bg2 {
  position: absolute;
  top: 200px;
  left: 93%;
  z-index: -1;
    
  height: 500px;
  width: 600px;
  border-radius: 100px 0px 0px 0px;
  background-image: linear-gradient(to bottom, #7CDCFF, #FFF);
  
  transform: rotate(10deg);
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.foot-icon {
  width: 60px;
  margin: 10px;
  
  transition: all 0.5s;
}

.foot-icon:hover{
  transform: scale(1.05);
}

.content {
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 70px;
}

.portrait {
  position: relative;
  
}

.me {
  height: 100%;
  transition: filter 0.3s;
}

.me:hover {
  filter: saturate(1.2)
}

.text-container {
  position: relative;
  width: 100%;
}

.text {
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h {
  font-family: Informa Pro, sans-serif;
  font-weight: 700;
  font-size: 50;
}

p {
  font-family: Informa Pro, sans-serif;
  font-weight: 400;
  font-size: 15;
}

@media screen and (max-width: 1100px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .me {
    max-width: 60%;
    height: auto;
    margin:0 auto;
  }
  .content {
    flex-direction: column;
    margin-left: 20%;
    padding-top: 50px;
  }
  
  .text {
    padding-top: 5%;
    top: auto;
    left: auto;
    width: 350px;
    transform: translate(0, 0);
  }
}


@media screen and (max-width: 950px) {
  .foot-icon {
    width: 40px;
    margin: 5px;
  }
}

@media screen and (max-width: 600px) {

  .bg1 {
    top: -400px;
  }
  
  .bg2 {
    left: 80%;
  }

  .foot-icon {
    width: 40px;
    margin: 5px;
  }
  
  .content {
    margin-left: 25%;
  }
  
  .text {
    padding-top: 10%;
    width: 70%;
  }
  
  h {
    font-size: 7vw;
  }
  
  p {
    font-size: 2.5vw;
  }
}
