
.navbar {
  position: fixed;
  z-index: 99;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 70px;
  
  background-color: #111;
  outline: solid 5px #7CDCFF;
  padding: 0px;
  padding-top:  10px;
  
  overflow: hidden;
  transition: width 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.4s;
}

.navbar:hover {
  width: 160px;
}


a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  width: 100%;
}

.home {
  width: 70px;
  text-align: center;
}

.home-link {
  position: relative;
  left: 0;
  
  font-family: Laca, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: white;
}

.navlink {
  display: flex;
  flex-direction: row;
  opacity: 0.75;
  margin-bottom: 10px;
  height: 40px;
}

.navlink:hover {
  opacity: 1;
}

.navicon {
  display: inline-block;
  width: 32px;
  margin-left:19px;
  margin-right:19px;
}

.navtext {
  padding-left: 1px;
  font-family: Informa Pro, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #FFFFFF
}

@media screen and (max-width: 600px) {
  .navbar {
    width: 50px;
    transition: width 0s;
  }
  
  .navbar:hover {
    width: 50px;
  }
  
  .home {
    width: 50px;
  }
  
  .navlink {
    height: 25px;
  }
  
  .navicon {
    width: 24px;
    margin-left: 13px;
    margin-right: 13px;
  }
  
  .home-link {
    font-size: 25px;
  }
  
  .navtext {
    padding-top: 7px;
    font-size: 16;
    line-height: 25px;
  }
}